/*This is the completed CSS page for our final template.*/

.footer p {
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
p {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Georgia', serif;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}
.list{
	float: right;
	margin-right: 2%;
	margin-left: 5%;
	max-width: 15%;
	border: 1px solid black;
	padding-left: 10px;
	margin-top: 20px;
}
li {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}
iframe{
	min-width: 70%;
	margin-top: 20px;
}
img {
	float: right; /* This is one way to make something responsive */
	margin-right: 5%;
	margin-left: 5%;
}

@media only screen and (max-width: 767px)
{
 
 .list{
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }

}